/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.button {
	-fx-border-radius: 10 10 10 10;
	-fx-background-radius: 10 10 10 10;
}
/*.tool-bar {
	-fx-background-color: lightgrey;
	-fx-border-style: solid;
	-fx-border-color: darkgrey, lightgray, darkgrey;
	-fx-border-width: 2, 2, 2;
	-fx-border-insets: 0, 2, 4;
}*/
